 
profiles  {
    conda {
        conda.enabled           = true
        channels                = ['conda-forge', 'bioconda', 'defaults']
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
    }
    docker {
        docker.enabled          = true 
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.ociAutoPull = true
     // singularity.cacheDir    = "./work/singularity"       
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        apptainer.ociAutoPull 	= true
     // apptainer.cacheDir    	= "./work/singularity"   
    }    
     wave {
        singularity.enabled     = true
        singularity.autoMounts  = true
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container' 
    }
}

// How To add a spearate Config File, to be included in the main Config file 
// See Doc : https://www.nextflow.io/docs/latest/config.html#:~:text=A%20configuration%20file%20can%20include%20any%20number%20of%20other%20configuration%20files%20using%20the

// enable it when execution time.config.nf
//includeConfig 'conf/base.config'
